<mat-nav-list  >
    <!-- <mat-divider></mat-divider>
    <h2 matSubheader> Options </h2> -->
    <a  class="inactiveLink" mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <div class="navbarOption">
            <div><mat-icon style="color:#FF6E95;">square</mat-icon></div>
            
        </div>
    </a>
    <a  mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <div class="navbarOption">
            <div>
                <img id="bot-icon" src="assets/navbar/bot.svg">  
            </div>
            <!-- <div>Bot</div> -->
        </div>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/miner">
        <div class="navbarOption">
            <div>
                <img id="miner-icon" src="assets/navbar/miner.svg"> 
            </div>
            <!-- <div>Miner</div> -->
        </div>   
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/parameter">
        <div class="navbarOption">
            <div>                
                <img id="parameter-icon" src="assets/navbar/parameter.svg"> 
            </div>
            <!-- <div>Parameter</div> -->
        </div>
    </a>
    <a  mat-list-item routerLinkActive="list-item-active" routerLink="/dataStage">
        <div class="navbarOption">
            <div>                
                <img id="Data-Stage-icon" src="assets/navbar/Data-Stage.svg"> 
            </div>
            <!-- <div>Data Stage</div> -->
        </div>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/miner">
        <div class="navbarOption">
            <div>                
                <img id="Data-Stage-icon" src="assets/navbar/Data-sets.svg"> 
            </div>
           <!-- <div> Data sets</div> -->
        </div>
    </a>
    <a  mat-list-item routerLinkActive="list-item-active" routerLink="/miner">
        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;width: 100%;height: 100%;text-align: center;">
            <div>
                <img id="Data-Stage-icon" src="assets/navbar/Data-Entity.svg"> 
                    
            </div>
            <!-- <div>Data Entities</div> -->
        </div>
    </a>
    <a  mat-list-item routerLinkActive="list-item-active" routerLink="/dataSource">
        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column;width: 100%;height: 100%;text-align: center;">
            <div>
                <img id="Data-Stage-icon" src="assets/navbar/Data-Source.svg"> 
                    
            </div>
           <!-- <div> Data Sources</div> -->
        </div>
    </a>
    <mat-divider></mat-divider>
</mat-nav-list>

