<mat-toolbar  style="z-index:1;background-color: #FFFFFF;"> 
    <mat-toolbar-row >
        <!-- <button mat-icon-button>
            <mat-icon style="color:#FF6E95;">square</mat-icon>
        </button> -->
        <div style="margin-left: 170px;">Bot Management</div>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>hdr_auto</mat-icon>
                    </button>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>