<div class="top" >
    <div id="searchDiv">
        <app-search > </app-search>
    </div>
</div>
<div class="parameterHeading" *ngIf="toDisplay">
    <div id="options">
        <div><h2 id="nameHeading">All Parameter</h2></div>
        <div id="btnOption">
            <button class="button" routerLink="/createParameter" >Create Parameter</button>     
        </div>
    </div>
    <div id="line" >
        <mat-divider></mat-divider>
    </div>
</div>





<div  class="container1" *ngIf="!params && toDisplay">
    <div class="row" >
        <div class="column" >
            <div class="cards" >
                <div> <img  id="miner-icon" src="assets/parameter/blank.svg"> 
                </div>
                <!-- <h1 id="heading">Illustration</h1>   -->
            </div>
        </div>
    </div>
    <div class="msgDiv">
        <div>
            <p id="firstMsg" >Parameter are not available</p> 
            <p id="secondMsg" >Please create</p>
        </div>
        <div id="btnDiv" ><button class="button"  routerLink="/createParameter" >Create Parameter</button></div>
    </div>
</div>

<div class="container2"  *ngIf="params!='' && toDisplay">
    <div class="rowParam" >
        <div class="columnParam" *ngFor="let param of params" >
        <div class="cardParam" style="padding: 5px;" >
                <h2 id="heading" >{{param.name}}</h2>
                <div id="content" ><p >{{param.param_key}}</p></div>
                <mat-divider></mat-divider> 
                <div id="btnDiv" >
                    <div  >
                        <button  mat-raised-button color="accent" routerLink="/viewParameter/{{param.identifer}}">Details</button>
                    </div> 
                </div>
            </div>
        </div>
</div>