<div>
    <app-top-bar-data-stage></app-top-bar-data-stage>
</div>


<div style="padding: 20px" >
    <form  [formGroup]="createStageForm" (ngSubmit)="stageSubmitForm()">
    <div>
            <p>Data Stage Name</p>
            <mat-form-field  style="width: 40%;" appearance="outline">
                <mat-label>Enter Stage name</mat-label>
                <input  matInput formControlName="name" name="name"  type="text" placeholder="Enter Data Stage name  ">
            </mat-form-field>
            <div *ngIf="name && name.invalid && name.touched" style="color: red;">Name  is required</div>

    </div>
    <div>
        <p>Description</p>
        <mat-form-field  style="width: 40%;" appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput  formControlName="description" name="description" type="text"  placeholder="Description  ">
        </mat-form-field>
        <div *ngIf="description && description.invalid && description.touched" style="color: red;">Description  is required</div>

    </div>
    
    <div style="width: 20%;"><button [disabled]="createStageForm.invalid" mat-raised-button color="accent">Create</button></div> 

    
    </form>

</div> 
