<div><app-top-bar-miner ></app-top-bar-miner></div>








<div  class="container1" *ngIf="!miners ">
    <div class="row" >
        <div class="column" >
            <div class="cards" >
                <div> <img  id="miner-icon" src="assets/parameter/blank.svg"> 
                </div>
                <!-- <h1 id="heading">Illustration</h1>   -->
            </div>
        </div>
    </div>
    <div class="msgDiv">
        <div>
            <p id="firstMsg" >Miner are not available</p> 
            <p id="secondMsg" >Please create</p>
        </div>
        <div id="btnDiv" ><button class="button"  routerLink="/createMiner" >Create Miner</button></div>
    </div>
</div>

<div class="container2"  *ngIf="miners">
    <div class="rowParam" >
        <div class="columnParam" *ngFor="let miner of miners" >
        <div class="cardParam" style="padding: 5px;" >
                <h2 id="heading" >{{miner.name}}</h2>
                <div id="content" ><p >{{miner.description}}</p></div>
                <mat-divider></mat-divider> 
                <div id="btnDiv" >
                    <div  >
                        <button  mat-raised-button color="accent" routerLink="/miner/{{miner.identifier}}">Details</button>
                    </div> 
                </div>
            </div>
        </div>
</div>