<div class="top" >
    <div id="searchDiv" *ngIf="showSearch">
        <app-search > </app-search>
    </div>
</div>
<div class="Heading" >
    <div id="options" >
        <div><h2 id="nameHeading">{{heading}}</h2></div>
        <div id="btnOption">
            <button *ngIf="toShow" class="button"  style="width: 50px;color:black; background-color: #FFFFFF;" (click)="sendFlag()">
                <img id="miner-icon" src="assets/miner/edit.svg">
            </button>
            <span *ngIf="toShow" style="margin-right: 10px;"><button class="button"  style="width: 50px;background-color: #FFFFFF;" (click)="delSource()" ><img id="miner-icon" src="assets/miner/delete.svg">Delete</button></span> 
            <button class="button" routerLink="/createDataSource" >Create DataSource</button>     
        </div>
    </div>
    <div id="line" >
        <mat-divider></mat-divider>
    </div>
</div>