<div class="top" >
    <div id="searchDiv">
        <app-search > </app-search>
    </div>
</div>
<div class="parameterHeading" *ngIf="toDisplay">
    <div id="options">
        <div><h2 id="nameHeading">All Parameter</h2></div>
        <div id="btnOption">
            <button class="button" routerLink="/createMiner" >Create Parameter</button>     
        </div>
    </div>
    <div id="line" >
        <mat-divider></mat-divider>
    </div>
</div>



<div style="padding: 20px" *ngIf="toDisplay">
    <form  [formGroup]="editParamForm" (ngSubmit)="updateParam()">
    <div>
            <p>Parameter Name</p>
            <mat-form-field  style="width: 40%;" appearance="outline">
                <mat-label>Enter Parameter name</mat-label>
                <input  matInput formControlName="name" name="name"  type="text" placeholder="Enter Parameter name  ">
            </mat-form-field>
    </div>
    <div>
        <p>Param key</p>
        <mat-form-field  style="width: 40%;" appearance="outline">
            <mat-label>Param key</mat-label>
            <input matInput  formControlName="param_key" name="param_key" type="text"  placeholder="Param key  ">
        </mat-form-field>
    </div>
    <div>
        <p>Param Value  </p>
        <mat-form-field  style="width: 40%;" appearance="outline">
            <mat-label>Param Value</mat-label>
            <input matInput  formControlName="param_value" type="text" name="param_value"  placeholder="Param Value  ">
        </mat-form-field>
    </div>
    <div style="width:1%;margin:0 auto"><button [disabled]="editParamForm.invalid" mat-raised-button color="accent">Update</button></div> 

    
    </form>

</div> 
