
.search {
    width: 30%;
    position: relative;
    display: flex;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    
    // .searchButton {
    //     width: 30px;
    //     height: 36px;
    //     // border: 1px solid #00B4CC;
    //     text-align: center;
    //     // color: #fff;
    //     border-radius: 0 5px 5px 0;
    //     // cursor: pointer;
    //     font-size: 20px;
    // }
  
    // .searchTerm {
    //     width: 100%;
    //     border: 3px solid #FFFFFF;
    //     // border-right: none;
    //     padding: 5px;
    //     height: 45px;
    //     // border-radius: 5px 0 0 5px;
    //     outline: none;
    //     // color: #9DBFAF;
    // }
    
}




