<div>
    <app-top-bar-bot></app-top-bar-bot>
</div>
<div style="padding: 20px">
    <div style="display: flex;" >
        <div  style="width: 40%;">
            <p>Name of the Bot</p>
            <mat-form-field  style="width: 70%;" appearance="outline">
                <mat-label>Name of the Bot</mat-label>
                <input matInput #input type="text" placeholder="Ex. Nougat">
            </mat-form-field>
        </div>
        <div style="width:40%">
            <p>Bot Type</p>
            <mat-form-field appearance="outline" style="width: 70%;" >
                <mat-label>Choose bot type</mat-label>
                <mat-select>
                  <mat-option value="option">Option</mat-option>
                  <mat-option value="option">Option2</mat-option>
                  <mat-option value="option">Option3</mat-option>
                  <mat-option value="option">Option4</mat-option>
                </mat-select>
                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
            </mat-form-field>
        </div>
    </div>
    <div style="display: flex;" >
        <div  style="width: 61%;">
            <p>Miner</p>
            <mat-form-field appearance="outline" style="width: 100%;" >
                <mat-label>Choose miner from here</mat-label>
                <mat-select>
                <mat-option value="option">Option</mat-option>
                <mat-option value="option">Option2</mat-option>
                <mat-option value="option">Option3</mat-option>
                <mat-option value="option">Option4</mat-option>
                </mat-select>
                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
            </mat-form-field>            
        </div>
        <div style="width: 20%;">
            <button mat-stroked-button color="accent" style="border: 1px solid #F22D61;;margin-left:10px;margin-top: 38px; height: 48px;">+ Add</button>
        </div>
    </div>

    <div style="display: flex;" >
        <div  style="width: 61%;">
            <p>Data source</p>
            <mat-form-field appearance="outline" style="width: 100%;" >
                <mat-label>Choose Data source from here</mat-label>
                <mat-select>
                <mat-option value="option">Option</mat-option>
                <mat-option value="option">Option2</mat-option>
                <mat-option value="option">Option3</mat-option>
                <mat-option value="option">Option4</mat-option>
                </mat-select>
                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
            </mat-form-field>            
        </div>
        <div style="width: 20%;">
            <button mat-stroked-button color="accent" style="border: 1px solid #F22D61;;margin-left:10px;margin-top: 38px; height: 48px;">+ Add</button>
        </div>
    </div>

    <div style="display: flex;" >
        <div  style="width: 61%;">
            <p>Data Parameter</p>
            <mat-form-field appearance="outline" style="width: 100%;" >
                <mat-label>Choose Data parameter from here</mat-label>
                <mat-select>
                <mat-option value="option">Option</mat-option>
                <mat-option value="option">Option2</mat-option>
                <mat-option value="option">Option3</mat-option>
                <mat-option value="option">Option4</mat-option>
                </mat-select>
                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
            </mat-form-field>            
        </div>
        <div style="width: 20%;">
            <button mat-stroked-button color="accent" style="border: 1px solid #F22D61;;margin-left:10px;margin-top: 38px; height: 48px;">+ Add</button>
        </div>
    </div>
    <div style="display: flex;" >
        <div  style="width: 61%;">
            <p>Data Stage</p>
            <mat-form-field appearance="outline" style="width: 100%;" >
                <mat-label>Choose Data stage from here</mat-label>
                <mat-select>
                <mat-option value="option">Option</mat-option>
                <mat-option value="option">Option2</mat-option>
                <mat-option value="option">Option3</mat-option>
                <mat-option value="option">Option4</mat-option>
                </mat-select>
                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
            </mat-form-field>            
        </div>
        <div style="width: 20%;">
            <button mat-stroked-button color="accent" style="border: 1px solid #F22D61;;margin-left:10px;margin-top: 38px; height: 48px;">+ Add</button>
        </div>
    </div>

    <div style="display: flex;" >
        <div  style="width: 61%;">
            <p>Data Entity</p>
            <mat-form-field appearance="outline" style="width: 100%;" >
                <mat-label>Choose Data entity from here</mat-label>
                <mat-select>
                <mat-option value="option">Option</mat-option>
                <mat-option value="option">Option2</mat-option>
                <mat-option value="option">Option3</mat-option>
                <mat-option value="option">Option4</mat-option>
                </mat-select>
                <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
            </mat-form-field>            
        </div>
        <div style="width: 20%;">
            <button mat-stroked-button color="accent" style="border: 1px solid #F22D61;margin-left:10px;margin-top: 38px; height: 48px;">+ Add</button>
        </div>
    </div>
    <div style="width: 20%;">
        <button mat-stroked-button  style="background-color: #f6f2f2;color: #999999 ;border: 1px solid #999999;;margin-left:10px;margin-top: 38px; height: 48px;font-family: 'GT Eesti Pro Text';font-style: normal;;">Configure</button>
    </div>

    
</div>