.top{
    width: 100%; display: flex;
    #searchDiv{
        width: 70%;  margin-left:auto;
    }
}
.button {
    background-color:  #F22D61;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:160px;
    height:38px;
    border-radius: 4px;
} 

.Heading{
    #options{
        display: flex;
        margin: 5px;

        #nameHeading{
            font-family: 'GT Eesti Pro Text';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 30px;
        }

        #btnOption{
            margin-left:auto;            
        }
    }

    #line{
        margin-bottom:20px;margin-top:0px
    }
}