<div>
  <app-top-bar-bot></app-top-bar-bot>
</div>
<div class="Description">
  <p>
    Operates as an agent for a user or other program or to simulate a <br />
    human activity.Bots are normally used to
  </p>
</div>
<div class="Heading">
  <h2 class="Heading">Data Bot Configuration</h2>
</div>
<div class="dropShadow">
  <div class="steps" style="display: flex">
    <p class="steps" style="margin-left: auto">No of Steps</p>
    <div class="count">03</div>
  </div>
  <mat-tab-group>
    <mat-tab *ngFor="let tab of tabs">
      
      <ng-template mat-tab-label>
        {{tab}}
      </ng-template>
      <app-view-bot-steps></app-view-bot-steps>
   
    </mat-tab>
  </mat-tab-group>
        
</div>
