
<div >
    <div *ngIf="toDisplay">
        <div class="input-group" style="width: 28%; margin: 0px auto;">
            <div class="search"  >
                <input type="text" class="searchTerm" placeholder="Search for any bot..">
                <button type="submit" class="searchButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
            
        </div>
    </div>
    <div  style="display: flex;margin: 5px;">
        <div *ngIf="toDisplay"><h2 style="font-family: 'GT Eesti Pro Text';font-style: normal;font-weight: 500;font-size: 30px;line-height: 30px;">All bots</h2></div>
        <div *ngIf="toDisplay===false"><h2 style="font-family: 'GT Eesti Pro Text';font-style: normal;font-weight: 500;font-size: 30px;line-height: 30px;">Bot Setup</h2></div>
        <div *ngIf="toDisplay" style="margin-left:auto;">
            <span style="margin-right: 10px;">Type</span>
            <div style="margin-left: 10px;margin-right: 10px;display: inline;">
                <select style="height:30px;width: 85px;">
                    <option value="">Select..</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                    <option value="5">Option 5</option>
                  </select>
            </div> 
            <button class="button" (click)="loadCreatebot()" >+ Create Bot</button>     
        </div>
    </div>
    <div style="margin-bottom:20px;margin-top:0px">
        <mat-divider></mat-divider>
    </div>
    <!-- Card -->
    <ng-container *ngComponentOutlet="content"></ng-container>
    <!-- <app-show-bot></app-show-bot>
    <app-create-bot></app-create-bot> -->
</div>





